

<div>

    <mat-card style="margin: 60px;padding: auto;">
       <mat-list-item>
        <h3>Product Name : {{productData.product_name}}</h3>
       </mat-list-item>
       <mat-divider></mat-divider>
       <mat-list-item>
        <h3>Tonnes : {{productData.tones}}</h3>
       </mat-list-item>
       <mat-divider></mat-divider>
       <mat-list-item>
        <h3>Price Per/KG : {{productData.price_per_kg}}</h3>
       </mat-list-item>
       <mat-divider></mat-divider>
       <mat-list-item>
        <h3>Date : {{productData.created_at}}</h3>
       </mat-list-item>
       <mat-divider></mat-divider>
    </mat-card>

</div>
